<h1 class="container bg-dark text-white text-center my-4 py-4">
  show es: {{ show }}
</h1>
<div class="container">
  <button class="btn btn-dark mb-3" (click)="show = false">primero</button>
  <button class="btn btn-danger mb-3" (click)="show = true">segundo</button>
  <p class="text-info" *ngIf="show; else showDos">
    Include every Bootstrap JavaScript plugin and dependency with one of our two
    bundles. Both bootstrap.bundle.js and bootstrap.bundle.min.js include Popper
    for our tooltips and popovers. For more information about what’s included in
    Bootstrap, please see our contents section.
  </p>
  <ng-template #showDos>
    <p class="text-danger">
      Curious which components explicitly require our JavaScript and Popper?
      Click the show components link below. If you’re at all unsure about the
      general page structure, keep reading for an example page template.
    </p>
  </ng-template>
</div>
